
# Состояние вашего проекта: dev or production
NODE_ENV=dev

# Порт на котором будет запускаться приложение
APPLICATION_PORT=5000

# Секрет для куки, чтобы не смогли подменить
COOKIE_SECRET=different

# Секрет ключ, используется при генерации сессий
SESSION_SECRET=different

# Домен вашего сайта, который добавляется в куки файлы. Для безопасности
DOMAIN=yourdomain

# Подключение к редис
REDIS_URI="redis://localhost:6379"

# Ссылку для подключение к серверу и базе данных postgres
DATABASE_URL="postgresql://postgres:123123@localhost:5432/fluent"

# Данные TWILLO для отправки смс сообщений на номер пользователя
TWILIO_ACCOUNT_SID=TWILIO_ACCOUNT_SID
TWILIO_AUTH_TOKEN=TWILIO_AUTH_TOKEN
TWILIO_PHONE_NUMBER=TWILIO_PHONE_NUMBER

# Данные от Blackblaze B2 для хранения файлов и аватарок
S3_ENDPOINT=S3_ENDPOINT
S3_REGION=S3_REGION
S3_BUCKET=S3_BUCKET
S3_ACCESS_KEY_ID=S3_ACCESS_KEY_ID
S3_SECRET_ACCESS_KEY=S3_SECRET_ACCESS_KEY
